<!DOCTYPE html>

<html lang="en">

<head>

    <title>Login</title>

    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>

    <link rel="icon" type="image/x-icon" href="../static/assets/images/icon/favicon.ico"/>

    <link rel="stylesheet" href="../static/assets/stylesheets/login.css"/>

</head>

<body>

<div id="background-image"></div>

<section content="primary-section" id="login-content">

    <div class="login-form-container">

        <div class="logo-container">
            <img src="../static/assets/images/logo/logo_transparent.png" alt="Logo"/>
        </div>

        <form class="login-form" method="POST">

            <input type="text" name="name" placeholder="Name" maxlength="25" required="required" class="name"/>
            <br/>
            <input type="password" name="password" placeholder="Password" required="required" class="password"/>
            <br/>
            <input type="submit" value="Login" name="login-button" class="button"/>

        </form>

    </div>

</section>

<section content="greeting-section" id="greeting-content">

    <div class="greeting-container">

        <h2>Greetings</h2>

        <h1>{{ name }}</h1>

        <input type="submit" value="Logout" name="logout-button" class="button"/>

    </div>

</section>

</body>

</html>